.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.address__title {
  font-family: $second-font-family;
  color: $special2-text-color;

  @include font-set(16px, 18px);
}

.address__text {
  @include font-set(14px, 20px);
}
