.address__title {
  font-family: $second-font-family;
  color: #111111;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.address__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.page-footer__info {
  background-color: #d9d9d9;
}

.socials-list {
  list-style: none;
}

.page-footer__copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}