.example {
  background-color: $secondary-bg-color;
}

.example__text {
  @include font-set(14px, 18px);
}

.example__number {
  font-family: $second-font-family;
  @include font-set(24px, 24px);
  color: $primary-text-color;
}

.example__description {
  line-height: 12px;
}
