.main-nav__list {
  font-family: $second-font-family;

  @include list-reset;
  @include font-set($main-font-size, 20px, 500);

  text-transform: uppercase;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet) {
    display: none;
  }
}
