.offer__list {
  @include list-reset;
}

.offer__item {
  background-color: $tertiary-bg-color;
}

.offer__title {
  font-family: $second-font-family;
  color: $primary-text-color;

  @include font-set(24px, 37px);
  text-transform: uppercase;
}

.offer__text {
  @include font-set(14px, 18px);
}
