.page-footer__info {
  background-color: $tertiary-bg-color;
}

.page-footer__copyright {
  @include font-set(16px, 18px);
}

.page-footer__wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}
