.promo {
  font-family: $second-font-family;
  color: $tertiary-text-color;
  background-image: url(../img/promo-cat.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
