.button {
  font-family: $second-font-family;
  color: $tertiary-text-color;
  background-color: $basic-green;
  text-transform: uppercase;

  @include font-set(14px, 18px);

  &--transparent {
    background-color: transparent;
    color: $primary-text-color;

    @include font-set(16px, 16px);
  }
}
