.button {
  font-family: $second-font-family;
  color: $tertiary-text-color;
  background-color: $basic-green;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}